:root {
  --aams-bg: #ffffff;
  --aams-bg-soft: #f5f7fa;
  --aams-text: #1f1f1f;
  --aams-text-secondary: #666;
  --aams-border: #e4e7ed;
  --aams-primary: #409eff;
}

html.dark {
  --aams-bg: #141414;
  --aams-bg-soft: #1d1d1d;
  --aams-text: #ffffff;
  --aams-text-secondary: #aaaaaa;
  --aams-border: #2c2c2c;
  --aams-primary: #409eff;
}